@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin text-effect {
    &:hover {
        color: rgb(187, 114, 114);
        border-bottom: 3px solid rgb(173, 71, 71);
    }
}

.Login_Register {
    * {
        font-family: Lora;
    }

    padding-top: 20px;
    text-align: center;
    font-family: Lora;

    .top {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.332), rgba(0, 0, 0, 0.321)), url('./Login&Register-imgs/Pottery class ❤️.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
        max-width: none;
        height: 300px;
        padding-top: 90px;

        h1 {
            color: white;
            font-size: 40px;
            font-family: Lora;
            font-weight: 500;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            font-family: Lora;
            color: white;

            a {
                font-size: 16px;
                font-weight: 400;
                font-family: Lora;
                color: white;
                transition: .3s;
                @include text-effect();
            }
        }
    }

    .bottom {
        display: flex;
        align-items: self-start;
        justify-content: center;

        column-gap: 20px;
        margin-top: 80px;

        .account {
            width: 600px;
            border: 1px solid black;
            padding: 20px 90px;
            text-align: start;

            &.login {
                height: 400px;
            }

            &.register {
                height: 700px;
            }

            &.login,
            &.register {
                .login_name {
                    font-size: 20px;
                    font-family: Lora;
                    font-weight: 400;
                    display: flex;
                    align-items: self-end;
                    justify-content: start;
                    column-gap: 5px;

                    .login_name_icon {
                        font-size: 30px;
                    }

                    margin-bottom: 20px;
                }

                .input {
                    display: flex;
                    flex-direction: column;
                    align-items: self-start;
                    justify-self: start;
                    margin-bottom: 20px;
                    position: relative;

                    .k {
                        font-size: 14px;

                        span {
                            color: orangered;
                        }
                    }

                    .feedback {
                        font-size: 12px;
                        color: rgb(146, 10, 10);
                    }

                    input {
                        padding: 0 8px;
                        width: 400px;
                        height: 40px;
                        border-radius: 4px;
                        border: 1px solid grey;
                        margin-top: 5px;
                        font-size: 18px;
                        font-family: monospace;

                    }

                    &.input2 {
                        button {
                            border: none;
                            font-size: 25px;
                            background: transparent;
                            position: absolute;
                            top: 30px;
                            right: 10px;
                        }
                    }

                    &.input3 {
                        .both {
                            display: flex;
                            align-items: self-end;
                            justify-content: center;

                            select {
                                height: 40px;
                                width: 40px;
                                border-right: none;
                            }

                            .textarea {
                                max-width: 360px;
                            }
                        }

                        input[type="number"]::-webkit-outer-spin-button,
                        input[type="number"]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

                .combined {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    label {
                        input {
                            margin-right: 5px;
                        }

                        font-size: 16px;
                        user-select: none;
                        cursor: pointer;
                    }

                    a {
                        text-decoration: none;
                        color: black;
                        @include text-effect();
                    }
                }

                .final {
                    width: 400px;
                    background: black;
                    border: none;
                    color: white;
                    border-radius: 4px;
                    height: 40px;
                    cursor: pointer;
                    margin-top: 20px;
                    transition: .3s;

                    &:hover {
                        background-color: orangered;
                    }
                }
            }
        }
    }
}